* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   }
    
   body {
    background-image: url(teater2.png);
    background-size: cover;
    background-position: center;
    background-color: #191931;
    background-repeat: no-repeat;
    display: flex;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'outfit', Arial Bold;
    padding-bottom: 2rem;
    gap: 1rem;
   }
   
   .logooase{
     width: 9rem;
     border-radius: 10%;
     aspect-ratio: 1/1;
     object-fit: cover;
     object-position: top;
    
     }
    
     ul {
        width: 80%;
        max-width: 40rem;
      }
      
      ul li {
        list-style: none;
      }
      
      ul.links li:not(:last-child) {
        margin-bottom: 1rem;
      }
      
      .links {
        margin-top: 1rem;
      }
      
      .link-card {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: rgb(131, 126, 126);
        gap: 1rem;
        padding: 1rem;
        border-radius: 20px;
        box-shadow: 8px 10px 0 #0f0f25;
        border: 2px solid white;
      }
      
      .link-card:hover {
        border: 2px solid white;
      }
      
      .links .link-icon {
        background-image: linear-gradient(to top, red, black);
        padding: 0.5rem;
        border-radius: 10px;
        aspect-ratio: 1/1;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      
      .links .link-icon i {
        color: white;
      }
      
      .links .link-text {
        text-align: center;
      }
      
      .link-action {
        color: #8787a3;
        cursor: pointer;
        padding: 10px;
      }
      
      .copyright {
        margin-top: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;
        color: #8787a3;
        font-size: 0.75rem;
      }
    
   